/* Navbarin kodlari */
:root {
    --primary-White:#fff;
   --primary-light-grey: #f4f4f4;
   --primary-grey:#ccd1d9;
   --primary-dark-grey:#666;
   --primary-orange:#f9ab00;
   --primary-dark:rgb(52,58,64);
   --primary-red :#ef4035;
   --primary-hover-red :#f33501;
   -primary-black:#000;
    --primary-transparent-black:rgb(0,0,0,0.7);
    --primary-green:rgba(0,255,0);


}
.logo {
    width: 14rem; 
  color: var(--primary-White);
}

nav a.nav-link {
    font-size: 1.2rem;
    letter-spacing: 0.0375;
    margin: 0 0.75rem;
    color: var(--primary-White) !important ; 
}
nav ul li {
    text-transform: uppercase;
 
}
.navbar-nav > li > a.active,
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus{
    border-bottom: 0.1875rem solid var(--primary-orange);
}
/*  Header ucun css kodlari */ 

.header-wrapper {
    position: relative;
background: url(./background.jpg);
background-size: cover; 
height: 510px;
background-position: center;

} 

.main-info {
    position: absolute;
    top:-80px; 
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: 1rem;

}

.typed-text{
color: var(--primary-White);
margin-bottom: 20px;
font-size: 1.3rem;
}

.main-info h1 {
    color: var(--primary-orange);
    /* margin-bottom: 25px; */
}
@media (max-width:768px) {
    .main-info h1 {
        font-size: 1.7rem !important;
    }

}
.downloadcv {
    border: 1px solid var(--primary-dark-grey);
    padding: 0.20rem;
    color:#000;
    border-radius: 4px;
    text-transform: uppercase;
     margin-bottom: 20px;
}
.downloadcv:hover {
    text-decoration: none;
    background-color: var(--primary-hover-red);
    color: var(--primary-White);
    transition: .4s ease-in-out;
}